@-webkit-keyframes blur {
  /* line 3, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  /* line 7, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  25% {
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }

  /* line 11, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  50% {
    -webkit-filter: blur(20px);
    filter: blur(20px);
  }

  /* line 15, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

/* line 21, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.blur {
  -webkit-animation-name: blur;
  -webkit-animation-duration: 4s;
}

@-webkit-keyframes offer-rotate-pencil {
  /* line 28, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 33, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(-1080deg);
    -ms-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
  }
}

/* line 41, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-pencil {
  -webkit-animation-name: offer-rotate-pencil;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-pencil;
  -ms-animation-duration: 4s;
  -ms-animation-timing-function: ease-out;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-pencil;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-notebook {
  /* line 65, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 70, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    transform: rotate(-100deg);
  }
}

/* line 78, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-notebook {
  -webkit-animation-name: offer-rotate-notebook;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-notebook;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-notebook;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-calculator {
  /* line 103, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 108, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}

/* line 116, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-calculator {
  -webkit-animation-name: offer-rotate-calculator;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-calculator;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-calculator;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-pen {
  /* line 140, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 145, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/* line 153, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-pen {
  -webkit-animation-name: offer-rotate-pen;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-pen;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-pen;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-apple {
  /* line 178, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 183, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

/* line 191, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-apple {
  -webkit-animation-name: offer-rotate-apple;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-apple;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-apple;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-scissors {
  /* line 216, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 221, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
  }
}

/* line 229, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-scissors {
  -webkit-animation-name: offer-rotate-scissors;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-scissors;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-scissors;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-glue {
  /* line 253, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 258, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
  }
}

/* line 266, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-glue {
  -webkit-animation-name: offer-rotate-glue;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-glue;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-glue;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes offer-rotate-ruler {
  /* line 290, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 295, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    transform: rotate(160deg);
  }
}

/* line 303, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.offer-rotate-ruler {
  -webkit-animation-name: offer-rotate-ruler;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-animation-name: offer-rotate-ruler;
  -ms-animation-duration: 3s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  animation-name: offer-rotate-ruler;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes needle-anime {
  /* line 328, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 333, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  25% {
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  /* line 339, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  75% {
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }

  /* line 344, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/* line 352, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.needle-anime {
  -webkit-animation-name: needle-anime;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;
  -ms-animation-name: needle-anime;
  -ms-animation-duration: 2s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 2;
  animation-name: needle-anime;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
}

/*****************************************************************************/
@-webkit-keyframes hand-anime {
  /* line 373, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  0% {
    -webkit-transform: rotate(-90deg);
    -webkit-opacity: 1;
    -ms-transform: rotate(-90deg);
    -ms-opacity: 1;
    transform: rotate(-90deg);
    opacity: 1;
  }

  /* line 381, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  50% {
    -webkit-transform: rotate(0deg);
    -webkit-opacity: 0;
    -ms-transform: rotate(0deg);
    -ms-opacity: 0;
    transform: rotate(0deg);
    opacity: 0;
  }

  /* line 389, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  100% {
    -webkit-transform: rotate(-90deg);
    -webkit-opacity: 1;
    -ms-transform: rotate(-90deg);
    -ms-opacity: 1;
    transform: rotate(-90deg);
    opacity: 1;
  }
}

/* line 400, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.hand-anime {
  -webkit-animation-name: hand-anime;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-name: hand-anime;
  -ms-animation-duration: 2s;
  -ms-animation-timing-function: ease-out;
  -ms-animation-iteration-count: 1;
  -ms-animation-fill-mode: forwards;
  -ms-animation-iteration-count: infinite;
  animation-name: hand-anime;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-calculator {
  /* line 427, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 432, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1135deg);
    -ms-transform: rotate(1135deg);
    transform: rotate(1135deg);
  }
}

/* line 440, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-calculator {
  -webkit-animation-name: stop-on-calculator;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-calculator;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-pen {
  /* line 464, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 469, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1095deg);
    -ms-transform: rotate(1095deg);
    transform: rotate(1095deg);
  }
}

/* line 477, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-pen {
  -webkit-animation-name: stop-on-pen;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-pen;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-scissors {
  /* line 501, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 506, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1368deg);
    -ms-transform: rotate(1368deg);
    transform: rotate(1368deg);
  }
}

/* line 514, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-scissors {
  -webkit-animation-name: stop-on-scissors;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-scissors;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-glue {
  /* line 538, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 543, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1322deg);
    -ms-transform: rotate(1322deg);
    transform: rotate(1322deg);
  }
}

/* line 551, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-glue {
  -webkit-animation-name: stop-on-glue;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-glue;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-ruler {
  /* line 574, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 579, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1276deg);
    -ms-transform: rotate(1276deg);
    transform: rotate(1276deg);
  }
}

/* line 587, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-ruler {
  -webkit-animation-name: stop-on-ruler;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-ruler;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-pencil {
  /* line 610, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 615, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1228deg);
    -ms-transform: rotate(1228deg);
    transform: rotate(1228deg);
  }
}

/* line 623, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-pencil {
  -webkit-animation-name: stop-on-pencil;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-pencil;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-apple {
  /* line 647, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 652, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1410deg);
    -ms-transform: rotate(1410deg);
    transform: rotate(1410deg);
  }
}

/* line 660, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-apple {
  -webkit-animation-name: stop-on-apple;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-apple;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*****************************************************************************/
@-webkit-keyframes stop-on-notebook {
  /* line 683, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  from {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 688, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
  to {
    -webkit-transform: rotate(1542deg);
    -ms-transform: rotate(1542deg);
    transform: rotate(1542deg);
  }
}

/* line 696, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/animations.css.scss */
.stop-on-notebook {
  -webkit-animation-name: stop-on-notebook;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -ms-name: stop-on-calculator;
  -ms-duration: 4s;
  -ms-timing-function: ease-out;
  -ms-iteration-count: 1;
  -ms-fill-mode: forwards;
  animation-name: stop-on-notebook;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
/* line 1, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/home.css.scss */
#main_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* line 8, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/home.css.scss */
#spin {
  position: absolute;
  margin: 10px;
  left: 80px;
  z-index: 10;
}

/* line 15, /Users/scottgaletto/Sandbox/tmo-spin-proto/app/assets/stylesheets/home.css.scss */
#ticker {
  position: absolute;
  margin: 10px;
  top: 200px;
  left: 80px;
  z-index: 15;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

