<!DOCTYPE html>
<html>
<head>
  <title>T-Mobile Spin Demo</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">  
</head>

<style>
#main_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

#spin {
	position: absolute;
	margin: 10px;
	left: 80px;
	z-index: 10;
}

#ticker  {
	position: absolute;
	margin: 10px;
	top: 200px;
	left: 80px;
	z-index: 15;
}

@-webkit-keyframes offer-rotate-pencil {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  } 
  100% { 
    -webkit-transform: rotate(-1080deg);
    -ms-transform: rotate(-1080deg);
    transform: rotate(-1080deg);
  }  
}

.offer-rotate-pencil
{
  -webkit-animation-name: offer-rotate-pencil;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;

  -ms-animation-name: offer-rotate-pencil;
  -ms-animation-duration: 4s;
  -ms-animation-timing-function: ease-out;
  -ms-animation-iteration-count: 1; 
  -ms-animation-fill-mode: forwards;  

  animation-name: offer-rotate-pencil; 
  animation-duration: 4s; 
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  

}

@-webkit-keyframes needle-anime {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25% { 
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  75% { 
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
  }  
  100% { 
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }  
}

.needle-anime
{
  -webkit-animation-name: needle-anime;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-iteration-count: 2;

  -ms-animation-name: needle-anime;
  -ms-animation-duration: 2s;
  -ms-animation-timing-function: ease-in;
  -ms-animation-iteration-count: 2; 

  animation-name: needle-anime; 
  animation-duration: 2s; 
  animation-timing-function: ease-in;
  animation-iteration-count: 2;
}



</style>

<body>


<div id="main_overlay">

	<img src="https://s3.amazonaws.com/tmobiledemo/main-overlay.png" width="100%">
</div>
<div id="ticker">
	<img src="https://s3.amazonaws.com/tmobiledemo/ticker2.png" width="70">
</div>
<%= yield %>


<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/TweenLite.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/utils/Draggable.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/CSSPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/DirectionalRotationPlugin.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.13.2/plugins/RoundPropsPlugin.min.js"></script>


<script>
Draggable.create("#spin", {
	type: "rotation",
	throwProps: true,
	onDragEnd: function() {
				 $("#spin").addClass('offer-rotate-pencil');
				 $("#ticker").addClass('needle-anime');
     }
   });
</script>



</body>
</html>
